@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  color-scheme: only light;

  --font-sansation: 'Sansation', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-manrope: 'Manrope', sans-serif;

  --radius: 0.625rem;
  --background: #0c0117; /*usage*/
  --foreground: #ffffff; /*usage*/
  --sky-blue: #5bdbfd; /*usage*/
  --vivid-purple: #7375ff; /*usage*/
  --light-purple: #df93ff; /*usage*/
  --rose-red: #e56f8c; /*usage*/
  --azure-blue: #90e8ff; /*usage*/
  --slate-violet: #9c9eff; /*usage*/
  --pastel-purple: #e3a1ff; /*usage*/
  --coral-pink: #e56f8c; /*usage*/
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #ff4a77; /*usage*/
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-sansation);
  --font-text: var(--font-raleway);
  --font-special: var(--font-manrope);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 393px;
  --breakpoint-xl: 1280px;

  /* container */
  --container-sm: 393px;
  --container-xl: 1280px;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground font-text flex min-h-dvh flex-col overflow-x-hidden antialiased;
  }
  main {
    @apply flex-1;
  }

  /* Styles for the transparent background of autocomplete input */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--foreground);
    -webkit-box-shadow: 0 10px 78px 1px rgba(121, 121, 121, 0.12) inset !important;
    transition: background-color 5000s ease-in-out 0s;
  }
  input:-webkit-autofill::first-line,
  textarea:-webkit-autofill::first-line,
  select:-webkit-autofill::first-line {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-10;

    @media (min-width: 393px) {
      @apply px-20;
    }

    @media (min-width: 1280px) {
      @apply w-xl;
    }
  }

  .gradient {
    background: linear-gradient(
      126deg,
      var(--sky-blue) 16.95%,
      var(--vivid-purple) 79.54%,
      var(--light-purple) 140.99%,
      var(--rose-red) 172.25%
    );
  }
  .gradient-logo {
    background: linear-gradient(
      90deg,
      var(--sky-blue) 0.26%,
      var(--vivid-purple) 51.07%,
      var(--light-purple) 100.96%,
      var(--rose-red) 126.34%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
  .gradient-bg {
    background: linear-gradient(
      112deg,
      var(--sky-blue) -33.31%,
      var(--vivid-purple) 42.45%,
      var(--light-purple) 116.84%,
      var(--rose-red) 154.68%
    );
  }
  .gradient-text {
    background: linear-gradient(
      91deg,
      var(--azure-blue) 0.44%,
      var(--slate-violet) 69.99%,
      var(--pastel-purple) 138.27%,
      var(--coral-pink) 173.01%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}
